@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/************* Scroll Prompt ***************/
.scroll-prompt {
    background: rgba(51, 19, 179, 0.5);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    width: 280px;
    height: 90px;
}

.icon-scroll,
.icon-scroll:before {
  position: absolute;
  left: 50%;
}

.icon-scroll {
  width: 30px;
  height: 50px;
  box-shadow: inset 0 0 0 1px #fff;
  border: 1px solid white;
  border-radius: 25px;
  margin-left: 75px;
  margin-top: -38px;
}

.icon-scroll:before {
  content: "";
  width: 8px;
  height: 12px;
  background: #fff;
  margin-left: -4px;
  top: 0px;
  border-radius: 4px;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: scroll;
}

@keyframes scroll {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateY(46px);
  }
}
/************************About Me Card************************/

.about-me {
    /* From https://css.glass */
    background: rgba(51, 19, 179, 0.26);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    border: 1px solid rgba(255, 255, 255, 0.82);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 90%;
    margin-left: 10px;
  }
  
  .profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
    margin-left: 10px;
  }
  
  .profile-pic {
    height: 75%;
    width: 100%;
    background: rgba(51, 19, 179, 0.26);
    border-radius: 50%;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    border: 2px solid rgba(255, 255, 255, 0.82);
  }


/***********************Skills Card***********************/

.skills-pic {
    height: 75%;
    width: 100%;
    background: rgba(51, 19, 179, 0.26);
    border-radius: 50%;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    border: 2px solid rgba(255, 255, 255, 0.82);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

/********************Dropdown Menu Button****************************/

#nav-icon {
    width: 50px;
    height: 30px;
    position: fixed;
    z-index: 10;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    right: 10px;
    top: 30px;
  }
  
  #nav-icon span {
    display: block;
    position: absolute;
    height: 3px;
    width: 60%;
    background: #ffffff;
    border-radius: 9px;
    opacity: 1;
    left: 10%;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }
  
  #nav-icon span:nth-child(1) {
    top: 0px;
  }
  
  #nav-icon span:nth-child(2),
  #nav-icon span:nth-child(3) {
    top: 10px;
  }
  
  #nav-icon span:nth-child(4) {
    top: 20px;
  }
  
  #nav-icon.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
  
  #nav-icon.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  #nav-icon.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  
  #nav-icon.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
  

  /********************Screen CRT Flicker Effect****************************/

  @keyframes flicker {
    0% {
      opacity: 0.27861;
    }
    5% {
      opacity: 0.34769;
    }
    10% {
      opacity: 0.23604;
    }
    15% {
      opacity: 0.90626;
    }
    20% {
      opacity: 0.18128;
    }
    25% {
      opacity: 0.83891;
    }
    30% {
      opacity: 0.65583;
    }
    35% {
      opacity: 0.67807;
    }
    40% {
      opacity: 0.26559;
    }
    45% {
      opacity: 0.84693;
    }
    50% {
      opacity: 0.96019;
    }
    55% {
      opacity: 0.08594;
    }
    60% {
      opacity: 0.20313;
    }
    65% {
      opacity: 0.71988;
    }
    70% {
      opacity: 0.53455;
    }
    75% {
      opacity: 0.37288;
    }
    80% {
      opacity: 0.71428;
    }
    85% {
      opacity: 0.70419;
    }
    90% {
      opacity: 0.7003;
    }
    95% {
      opacity: 0.36108;
    }
    100% {
      opacity: 0.24387;
    }
  }
  @keyframes textShadow {
    0% {
      text-shadow: 0.4389924193300864px 0 1px rgba(0, 30, 255, 0.5),
        -0.4389924193300864px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
    }
    5% {
      text-shadow: 2.7928974010788217px 0 1px rgba(0, 30, 255, 0.5),
        -2.7928974010788217px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
    }
    10% {
      text-shadow: 0.02956275843481219px 0 1px rgba(0, 30, 255, 0.5),
        -0.02956275843481219px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
    }
    15% {
      text-shadow: 0.40218538552878136px 0 1px rgba(0, 30, 255, 0.5),
        -0.40218538552878136px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
    }
    20% {
      text-shadow: 3.4794037899852017px 0 1px rgba(0, 30, 255, 0.5),
        -3.4794037899852017px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
    }
    25% {
      text-shadow: 1.6125630401149584px 0 1px rgba(0, 30, 255, 0.5),
        -1.6125630401149584px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
    }
    30% {
      text-shadow: 0.7015590085143956px 0 1px rgba(0, 30, 255, 0.5),
        -0.7015590085143956px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
    }
    35% {
      text-shadow: 3.896914047650351px 0 1px rgba(0, 30, 255, 0.5),
        -3.896914047650351px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
    }
    40% {
      text-shadow: 3.870905614848819px 0 1px rgba(0, 30, 255, 0.5),
        -3.870905614848819px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
    }
    45% {
      text-shadow: 2.231056963361899px 0 1px rgba(0, 30, 255, 0.5),
        -2.231056963361899px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
    }
    50% {
      text-shadow: 0.08084290417898504px 0 1px rgba(0, 30, 255, 0.5),
        -0.08084290417898504px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
    }
    55% {
      text-shadow: 2.3758461067427543px 0 1px rgba(0, 30, 255, 0.5),
        -2.3758461067427543px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
    }
    60% {
      text-shadow: 2.202193051050636px 0 1px rgba(0, 30, 255, 0.5),
        -2.202193051050636px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
    }
    65% {
      text-shadow: 2.8638780614874975px 0 1px rgba(0, 30, 255, 0.5),
        -2.8638780614874975px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
    }
    70% {
      text-shadow: 0.48874025155497314px 0 1px rgba(0, 30, 255, 0.5),
        -0.48874025155497314px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
    }
    75% {
      text-shadow: 1.8948491305757957px 0 1px rgba(0, 30, 255, 0.5),
        -1.8948491305757957px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
    }
    80% {
      text-shadow: 0.0833037308038857px 0 1px rgba(0, 30, 255, 0.5),
        -0.0833037308038857px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
    }
    85% {
      text-shadow: 0.09769827255241735px 0 1px rgba(0, 30, 255, 0.5),
        -0.09769827255241735px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
    }
    90% {
      text-shadow: 3.443339761481782px 0 1px rgba(0, 30, 255, 0.5),
        -3.443339761481782px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
    }
    95% {
      text-shadow: 2.1841838852799786px 0 1px rgba(0, 30, 255, 0.5),
        -2.1841838852799786px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
    }
    100% {
      text-shadow: 2.6208764473832513px 0 1px rgba(0, 30, 255, 0.5),
        -2.6208764473832513px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
    }
  }
  .crt::after {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(18, 16, 16, 0.1);
    opacity: 0;
    z-index: 2;
    pointer-events: none;
    animation: flicker 0.15s infinite;
    border-radius: 10px;
  }
  .crt::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%),
      linear-gradient(
        90deg,
        rgba(255, 0, 0, 0.06),
        rgba(0, 255, 0, 0.02),
        rgba(0, 0, 255, 0.06)
      );
    z-index: 2;
    background-size: 100% 2px, 3px 100%;
    pointer-events: none;
    border-radius: 10px;
  }
  .crt {
    animation: textShadow 1.6s infinite;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  /******************************Screen UI*******************************/
  .wrapper {
    width: 400px;
    height: 330px;
    background-color: rgb(9, 37, 0);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .wrapper button {
    font-size: 10px;
  }
  
  .window {
    height: 320px;
    width: 365px;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .skynet-window {
    height: 320px;
    width: 365px;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: not-allowed;
  }
  
  .tabs {
    background-color: red;
    height: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  
  .current-tab {
    background-color: rgb(0, 255, 102);
    height: 30px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
  }
  
  .idle-tab {
    background-color: rgb(17, 66, 0);
    border-top: 1px solid rgb(0, 255, 102);
    border-right: 1px solid rgb(0, 255, 102);
    border-left: 1px solid rgb(0, 255, 102);
    height: 30px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
  }
  
  .current-tab:hover {
    cursor: pointer;
  }
  
  .idle-tab:hover {
    cursor: pointer;
  }
  
  .current-tab p {
    font-size: 20px;
    margin-left: 30px;
    justify-content: center;
    color: rgb(13, 50, 1);
    font-family: "Courier";
    word-spacing: 1px;
    font-weight: 800;
  }
  
  .idle-tab p {
    font-size: 20px;
    margin-left: 30px;
    justify-content: center;
    color: rgba(0, 255, 102, 0.957);
    font-family: "Courier";
    word-spacing: 1px;
    font-weight: 800;
  }
  
  .projects-tab :hover {
    cursor: pointer;
  }
  
  .bbt {
    font-size: 20px;
    margin-left: 30px;
    justify-content: center;
    color: rgb(13, 50, 1);
    font-family: "Courier";
    word-spacing: 1px;
    font-weight: 800;
  }
  
  .bgt {
    font-size: 20px;
    margin-left: 30px;
    justify-content: center;
    color: rgba(0, 255, 102, 0.957);
    font-family: "Courier";
    word-spacing: 1px;
    font-weight: 800;
  }
  
  .sgt {
    font-size: 12px;
    margin-left: 10px;
    justify-content: left;
    color: rgb(0, 255, 102);
    font-family: "Courier";
    word-spacing: -2px;
    text-align: left;
  }
  
  .sgt2 {
    font-size: 12px;
    margin-left: 10px;
    justify-content: left;
    color: rgb(0, 255, 102);
    font-family: "Courier";
    word-spacing: -2px;
    text-align: left;
    padding-left: 34px;
  }
  
  .sbt {
    font-size: 14px;
    margin-left: 30px;
    justify-content: center;
    color: rgb(9, 37, 0);
    font-family: "Courier";
    word-spacing: 1px;
  }
  
  .tab-content {
    border: 3px solid rgb(0, 255, 102);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
  }
  
  .bio-content {
    height: 96%;
    width: 96%;
    margin: 5px 5px 5px 5px;
    border: 2px solid rgb(0, 255, 102);
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    text-align: left;
    background-color: rgb(13, 51, 0);
  }
  
  .content-section{
    width: 96%;
    height: 100%;
    
  }
  .projects-content {
    height: 96%;
    width: 96%;
    margin: 5px 5px 5px 5px;
    border: 2px solid rgb(0, 255, 102);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: top;
    align-items: top;
    background-color: rgb(13, 51, 0);
  }
  
  .project-content {
    width: 48%;
    height: 100%;
  }
  
  .project-media {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    margin-right: 5px;
    margin-top: 15px;
  }
  
  .project-buttons {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  
  .project-button {
    background-color: rgb(0, 255, 102);
    width: 45%;
    height: 85%;
    font-family: "Courier";
    font-size: 12px;
    margin-left: 2px;
    margin-right: 2px;
    color: rgb(13, 50, 1);
    text-align: center;
  }
  
  .project-button:hover {
    background-color: rgb(17, 66, 0);
    border: 1px solid rgb(0, 255, 102);
    color: rgb(0, 255, 102);
  }
  .project-gif {
    border: 2px solid rgb(0, 255, 102);
    width: 100%;
    height: 75%;
  }
  
  .project-title {
    font-size: 16px;
    color: rgb(0, 255, 102);
    justify-content: center;
    text-align: justify;
    padding-left: 5px;
    padding-right: 5px;
    font-family: "Courier";
  }
  
  .project-subtitle {
    font-size: 12px;
    color: rgb(0, 255, 102);
    justify-content: center;
    text-align: justify;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 4px;
    font-family: "Courier";
  }
  .project-description {
    font-size: 9px;
    color: rgb(0, 255, 102);
    justify-content: center;
    padding-left: 5px;
    padding-right: 5px;
    font-family: "Courier";
    word-spacing: 0px;
    height: 41%;
  }
  
  .back-arrow {
    height: 6%;
  }
  .back-arrow:hover {
    cursor: pointer;
  }
  .tech-stack {
    justify-content: center;
    height: 22%;
  }
  
  .tech-stack p {
    font-size: 9px;
    color: rgb(0, 255, 102);
    font-family: "Courier";
    word-spacing: 0px;
    padding-left: 5px;
    padding-right: 5px;
  }
  
  .folder {
    height: 50%;
    width: 32%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 3px;
  }
  
  .scroll-space {
    width: 4%;
    height: 100%;
    background-color: rgb(0, 255, 102);
    display: flex;
    flex-direction: column;
  }
  
  .arrow {
    height: 6%;
    width: 100%;
    background-color: rgb(0, 255, 102);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .arrow:hover {
    cursor: pointer;
  }
  
  .scroll-bar {
    height: 90%;
    width: 100%;
    background-color: rgb(17, 66, 0);
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
  }
  
  .arrow-up {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
  
    border-bottom: 6px solid black;
  }
  
  .arrow-down {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
  
    border-top: 6px solid black;
  }
  
  .bar {
    background-color: rgb(0, 255, 102);
    width: 80%;
    height: 95%;
    margin-top: 3px;
  }
  
  .folder-image:hover {
    cursor: pointer;
  }
  
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  
  @keyframes blink-caret {
    50% {
      border-color: transparent;
    }
  }
  
  .typewriter {
    font-size: 12px;
    margin-left: 10px;
    color: rgb(0, 255, 102);
    font-family: "Courier";
    border-right: 0.15em solid;
    white-space: nowrap;
    overflow: hidden;
    margin: 0 auto;
    letter-spacing: 0.15em;
    animation: typing 4s steps(40, end), blink-caret 0.75s step-end infinite;
  }
  